<div class="container mt-4">
  <div class="card">
    <div class="card-header">
      <h5>Name: <%= @user['name'] %> | Username: <%= @user['username'] %></h5>
    </div>

    <div class="card-body">
      <h5 class="card-title">User details</h5>

      <ul class="card-text">
        <li>ID: <%= @user['id'] %></li>
        <li>Name: <%= @user['name'] %></li>
        <li>E-mail: <%= @user['email'] %></li>
      </ul>

      <ul>
        <h5>Address</h5>
        <li>Street: <%= @user['address']['street'] %></li>
        <li>Suite: <%= @user['address']['suite'] %></li>
        <li>City: <%= @user['address']['city'] %></li>
        <li>Zipcode: <%= @user['address']['zipcode'] %></li>
        <li>Geo Lat: <%= @user['address']['geo']['lat'] %></li>
        <li>Geo Lng: <%= @user['address']['geo']['lng'] %></li>
      </ul>

      <ul>
        <li>Phone Number: <%= @user['phone'] %></li>
        <li>Website: <%= @user['website'] %></li>
      </ul>

      <ul>
        <h5>Company details</h5>
        <li>Company name: <%= @user['company']['name'] %></li>
        <li>Company catchphrase: <%= @user['company']['catchPhrase'] %></li>
        <li>Company bs: <%= @user['company']['bs'] %></li>
      </ul>

      <h5 class="card-title">User Albums</h5>

      <div class="row">
        <% @albums.each do |album| %>
          <div class="col-md-4 mb-4">
            <h5 class="card-title">
              <%= album['title'] %>
            </h5>

            <%= link_to "View Album", album_path(album['id']), class: "btn btn-primary" %>
          </div>
        <% end %>
      </div>

      <%= will_paginate @albums, renderer: WillPaginate::ActionView::BootstrapLinkRenderer, class: 'margin-auto' %>
    </div>
  </div>
</div>
