<% cache do %>
<main role="main">
  <div class="container">
    <div class="row">
      <div class="col">
        <h2 class="mt-5">Album: <%= @album['title'] %></h2>
        <p class="lead">All of the photos in this album are below</p>

        <div class="row">
          <% @albumPhotos.each do |albumPhoto| %>
            <div class="col-md-4">
              <%= image_tag(albumPhoto['thumbnailUrl']) %>

              <h5 class="card-title">
                <%= albumPhoto['title'] %>
              </h5>
            </div>
          <% end %>
        </div>
      </div>

      <div class="col">
        <div class="card mt-5 mb-5">
          <div class="card-header">
            <h5>The creator of this album: <%= @users.find{|u| u['id'] == @album['userId']}.try(:[], 'name') || 'not available' %></h5>
          </div>

            <div class="card-body">
              <h5 class="card-title">User details</h5>

              <ul class="card-text">
                <li>ID: <%= @users.find{|u| u['id'] == @album['userId']}.try(:[], 'id') || 'not available' %></li>
                <li>Name: <%= @users.find{|u| u['id'] == @album['userId']}.try(:[], 'name') || 'not available' %></li>
                <li>E-mail: <%= @users.find{|u| u['id'] == @album['userId']}.try(:[], 'email') || 'not available' %></li>
              </ul>

              <ul>
                <h5>Address</h5>
                <li>Street: <%= @users.find{|u| u['id'] == @album['userId']}.try(:[], 'address').try(:[],'street') || 'not available' %></li>
                <li>Suite: <%= @users.find{|u| u['id'] == @album['userId']}.try(:[], 'address').try(:[],'suite') || 'not available' %></li>
                <li>City: <%= @users.find{|u| u['id'] == @album['userId']}.try(:[], 'address').try(:[],'city') || 'not available' %></li>
                <li>Zipcode: <%= @users.find{|u| u['id'] == @album['userId']}.try(:[], 'address').try(:[],'zipcode') || 'not available' %></li>
                <li>Geo Lat: <%= @users.find{|u| u['id'] == @album['userId']}.try(:[], 'address').try(:[],'geo').try(:[], 'lat') || 'not available' %></li>
                <li>Geo Lng: <%= @users.find{|u| u['id'] == @album['userId']}.try(:[], 'address').try(:[],'geo').try(:[], 'lng') || 'not available' %></li>
              </ul>

              <ul>
                <li>Phone Number: <%= @users.find{|u| u['id'] == @album['userId']}.try(:[],'phone') || 'not available' %></li>
                <li>Website: <%= @users.find{|u| u['id'] == @album['userId']}.try(:[],'website') || 'not available' %></li>
              </ul>

              <ul>
                <h5>Company details</h5>
                <li>Company name: <%= @users.find{|u| u['id'] == @album['userId']}.try(:[], 'company').try(:[], 'name') || 'not available' %></li>
                <li>Company catchphrase: <%= @users.find{|u| u['id'] == @album['userId']}.try(:[], 'company').try(:[], 'catchphrase') || 'not available' %></li>
                <li>Company bs: <%= @users.find{|u| u['id'] == @album['userId']}.try(:[], 'company').try(:[], 'name') || 'not available' %></li>
              </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <%= will_paginate @albumPhotos, renderer: WillPaginate::ActionView::BootstrapLinkRenderer, class: 'margin-auto' %>
</main>
<% end %>
