<main role="main">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="card mt-5">
          <div class="card-header">
            <h5>The creator of this album</h5>
          </div>

          <div class="card-body">
            <h5 class="card-title">User details</h5>

            <ul class="card-text">
              <li>ID: <%= @user['id'] %></li>
              <li>Name: <%= @user['name'] %></li>
              <li>E-mail: <%= @user['email'] %></li>
              <li>Adress: <%= @user['address'] %></li>
              <li>Phone Number: <%= @user['phone'] %></li>
              <li>Website: <%= @user['website'] %></li>
              <li>Company: <%= @user['company'] %></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col">
        <h2 class="mt-5">Album: <%= @album['title'] %></h2>
        <p class="lead">All of the photos in this album are below</p>

        <div class="row">
          <% @albumPhotos.each do |albumPhoto| %>
            <div class="col-md-4">
              <%= image_tag(albumPhoto['thumbnailUrl']) %>

              <h5 class="card-title">
                <%= albumPhoto['title'] %>
              </h5>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <%= will_paginate @albumPhotos, renderer: WillPaginate::ActionView::BootstrapLinkRenderer, class: 'margin-auto' %>
</main>
